!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/libs/jquery-1.8.2.min.js')
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/contact") Contact
    section#wrapper
      div.body
        block body
            "this is body"
      div.sidebar
        block sidebar
            "this is sidebar"
    footer
      section.css-table
        section.four-column
          section.cell
            p 1
          section.cell
            p 2
          section.cell
            p 3
          section.cell
            p 4